.custom-cursor-large,
.custom-cursor-small {
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  background-color: #000000;
}

.custom-cursor-large {
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease;
}

.custom-cursor-small {
  width: 10px;
  height: 10px;
  transform: translate(12px, 12px);
}

/* Hide default cursor */
body,
body * {
  cursor: none !important;
}
